.aboutSecondary {
    font-family: arial;
    color: #69540f;
}

.linkCollection {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.gitLink, .linkedInLink {
    text-decoration: underline;
    color: #0b9553;
    font-size: 1rem;
    letter-spacing: 1px;
    text-align: center;
}
