.footer {
    position: absolute;
    bottom: 0;
    background-image: url('../assets/_/unsplash_Mv-2WDY2mdk.png');
    background-size:cover;
    background-repeat: no-repeat;
    height: 6%;
    width:100%;
    rotate:180deg;
 
}

.madeBy, .aboutUs {
    rotate:180deg;
    background-color: #E0DACF;
    color: #716654;
}

.madeBy {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 18%;
    padding: 0.5rem 0.6rem 0.3rem 0.6rem;
}

.aboutUs {
    width: 8%;
    text-align: center;
    position:absolute;
    top: 0;
    left: 20rem;
    padding: 0.8rem;
    font-weight: bold;
    height: 4rem;
}

.aboutUs:hover {
    rotate:180deg;
    background-color: #716654;
    color: #E0DACF;
}

span {
    font-size: 1rem;
    text-align: center;
}

a {
    display: block; 
    height: 100%;
    width: 100%;
    text-decoration: none;
}

span:first-child {
    padding: 0.2rem;
    font-weight: bold;
}