.pillarLeft {
    position: absolute;
    left: 0;
    top: 6.5%;
}

.pillarRight{
    position: absolute;
    right: 0;
    top: 6.5%;
}

img {
    height: 88%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E0DACF;
    opacity: 0.85;
    height: 86vh;
    margin: 4rem auto auto auto;
    width: 90%;
}

.primaryContent {
    border: 2px solid red;
    width: 85%;
    height: 60vh;
    display: grid;
    align-items: center;
    justify-content: center;
}

.secondaryContent {
    border: 2px solid blue;
    width: 70%;
    height: 10vh;
    margin: 0.5rem;
    display: grid;
    align-items: center;
    justify-content: center;
}