.navbar {
    position: absolute;
    top: 0;
    background-image: url('../assets/_/unsplash_Mv-2WDY2mdk.png');
    background-size:cover;
    background-repeat: no-repeat;
    height: 8%;
    width:100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, auto);
    gap: 0.5rem;
}

.logo {
    border: 2px solid #4AED47;
    padding: 0.2rem;
    order:3;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 3;
    grid-column-end: 4;
}

.logoImg {
    border: 3px solid white;
}


ul {

    border: 2px solid #4AED47;
    grid-column-start: 2;
    grid-column-end: 3;
    list-style: none;
    text-align: center;
    padding: 0.2rem;
    display: flex; 
    flex-direction: row;
}

ul > * { 
    width: fit-content;
    border: 2px solid red;
    background-color: #E0DACF;
    color: #716654;
    height: 5rem;
    padding: 0.5rem;
    font-weight: bold;
    margin: 1rem;
}

li:hover {
    rotate:20deg;
    background-color: #716654;
    color: #E0DACF;
    display: flex;
} 

.searchBar {
    width: 18rem;
    height: 4rem;
    background-color: #E0DACF;
    border: 2px solid red;
    order: 4;
}

.cart {
    background-color: #E0DACF;
    border: 2px solid red;
    width: fit-content;
    height: fit-content;
    padding: 1.5rem;
    color: #716654;
    order: 5;
}

.cart:hover{
    background-color: #000;
    color: #f9f9f9;
}