.navbar {
    position: absolute;
    top: 0;
    background-image: url('../assets/_/unsplash_Mv-2WDY2mdk.png');
    background-size:cover;
    background-repeat: no-repeat;
    height: 8%;
    width:100%;
    display: flex; 
    border: 4px solid pink;
    align-items: flex-start;
    justify-content: center;
}

.logo {
    border: 2px solid #4AED47;
    padding: 0.2rem;
    align-items: flex-start;
    align-self: center;
    justify-content: center;
}

.logoImg {
    border: 3px solid white;
}

.categories {
    background-color: #E0DACF;
    color: #716654;
}

ul {
    position:absolute;
    left: 0;
    list-style: none;
    width: 8%;
    text-align: center;
    height: 2.8rem;
    padding: 0.2rem;

}

ul > * { 

    position:absolute;
    top: 4;
    width: 5rem;
    border: 2px solid red;
    background-color: #E0DACF;
    height: 2.8rem;
    padding: 0.5rem;
    font-weight: bold;
    margin: 120px;
}

li:hover {
    rotate:20deg;
    background-color: #716654;
    color: #E0DACF;
    display: flex;
} 