.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    overflow: hidden;
}

.carouselSlides {
    transition: transform 0.5s ease-in-out;
    border-image: url("../assets/_/Pillar.png") 30;
    width: 100%;
    height: 100%;
}

.carouselSlide {
    display: flex;
    align-items: row;
    text-align: center;
}

.carouselSlide img {
    width: 60%;
    height: 60%;
}

.carouselSlide span {
    font-size: 2rem;
    font-weight: bold;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}

.carouselButton.prev {
    display: flex; 
    justify-self: flex-start;
}

.carouselButton.next {
    display: flex; 
    justify-self: flex-end;

}