
.pillarRight, .pillarLeft {
    z-index: 2;
}

.content {
    z-index: -2;
}

.carouselBtn {
    z-index: 10;
}
.pillarBackground1, .pillarBackground2, .pillarBackground3 {
    z-index: -3;
}

.footer {
    z-index: 1;
}

.navbar {
    z-index: 1;
}

.logo {
    z-index: 2;
}

.categories{
    z-index: 2;
}

