
.carouselBtnDiv{
    display: flex; 
    flex-direction: repeat(2fr, 2fr);
    gap: 92%;

}
.carouselContainer {
    max-width: 1200px;
    max-height: 800px;
    overflow: hidden;
    border: 40px solid transparent;
    border-image: url('.././assets/_/_/frame.png') 80 round;
    border-image-outset: 10px;
}

.carouselTextTitle {
    font-size: 3rem;
    color: #6F616F;
    font-weight: 400;
} 

.carouselTextSpan {
 font-size: 1rem;
}

.carouselSlide {
    transition-property: opacity;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 3s;
    border: 1px solid brown;
    height: 60vh;
    font-family: "Jost", serif;
}

.carouselImg {
    align-self: flex-end;
    justify-content: flex-end;
    justify-self: flex-end;
    max-width: 80vh;}

.carouselSlideText {
    display: flex; 
    flex-direction: column;
    align-items: center;
    height: 80%;
    justify-content: center;
    border: 1px solid red; 
    width: 50%;    
    letter-spacing: 0.2px;    
    color: #000;
}

.carouselCurrent {
    font-size: 1rem;
    background-color: #716654;
    color: #E0DACF;
}

.carouselBtn {
    transform: translateY(-500%);
    background: rgba(18, 18, 18, 0.905);
    padding: 1rem;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 3rem;
    height: 5rem;
    border-radius: 50px;
}
