.carouselContainer {
    display:flex;
    max-width: 600px;
    max-height: 800px;
    margin: auto;
    overflow: hidden;
    justify-content: center;
  }


.carouselSlide {
    display: flex;
    transform: 4s ease-in-out;
    align-items: column;
}

.carouselSlide > img {
    height: 200px;
    align-items: flex-end;
}

.carouselSlideText {
    display: grid; 
    width: 400px;
}

.carouselCurrent {
    font-size: 1rem;
    background-color: #716654;
    padding: 0.2rem;
    color: #E0DACF;


}

.carouselSlide > span {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

.carouselSlide > h2 {
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.carouselBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}

.prev {
    left: 0;
}

.next {
    right: 0;

}